<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satoshi Comics - FAQ</title>
    <meta name="description" content="Satoshi Comibook Store FAQ Page">
    <meta name="author" content="Ariel Antequiera">
    <link rel="icon" href="https://antariex.github.io/Satoshi-Comicbook-Store/public/images/satoshi-logo.png"
        type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>

<body>

    <header>
        <div class="logo">
            <img src="../public/images/satoshi-logo.png" alt="Satoshi Logo">
        </div>
        <nav>
            <div class="menu-icon">
                <img src="../public/images/menu-svg.svg" alt="">
            </div>
            <div class="desktop-menu">
                <br>
                <ul>
                    <li><a href="../index.html" id="home">HOME</a></li>
                    <li><a href="../views/aboutus.html" id="aboutus">ABOUT US</a></li>
                    <li><a href="../views/faq.html" id="faqs">FAQS</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="desktop-menu2">
        <p>
            <li><a>SATOSHI COMIC BOOK STORE - THE PLACE WHERE THE STORIES LIVES!</PLAintext>
            </li>
        </p>
    </div>

    <main>

        <h1 class="strong"><span class="strongred">FREQUENT</span> ASKED QUESTIONS</h1>
        <section class="aboutus">
            <br>
            <p>Your ultimate destination for all things comics, manga, and more! At Satoshi, we are passionate about
                bringing
                the best stories from around the world to your fingertips. Whether you're a seasoned collector or a new
                fan, our
                store offers a diverse selection of comics, manga, light novels, books, figures, games and merchandise.
            </p>
            <br>
            <h3>What types of comics do you carry?</h3>
            <p>We have a wide selection of modern comics from all the major publishers like Marvel, DC, Image, Dark
                Horse and more. We
                also have an extensive collection of vintage comics dating back to the Golden Age.
            </p>
            <br>
            <h3>Do you buyback or trade comics?</h3>
            <p>
                Yes, we buy and trade comic books, graphic novels, collectibles and other pop culture items. Get cash or
                store credit
                when you bring in your collections.
            </p>
            <br>
            <h3>Do you have a comic subscription service?</h3>
            <p>Absolutely! Our pull list subscription service ensures you'll never miss an issue of your favorite
                ongoing comic series.
                We'll automatically set aside the books for you each week.</p>
            <br>
            <h3>Can I place special orders for hard to find items?</h3>
            <p>You bet. We're happy to use our distributor connections to try to track down any out-of-print or hard to
                find comic
                books, figures, statues and other collectibles you're looking for.</p>
            <br>
            <h3>Do you host any events?</h3>
            <p>We sure do! Check our events calendar for the latest details on our monthly comic book swaps, artist
                signings, cosplay
                contests and more.</p>
            <br>
            <h3>What are your hours?</h3>
            <p>We're open 7 days a week: Monday-Saturday 10am-9pm, Sundays 11am-6pm. Stop in anytime!</p>
            <br>
            <p>
                * * * * * * * * * * * * * * * * * * * * * *
            </p>
            <br>
            <p>
                Let us know if you need any other information about our store policies, services or selection. We will
                be happy clarify or
                expand on any part of the FAQ.
            </p>
            <br>
        </section>

        <section class="social">
            <h3>Follow us on our social networks!</h3>
            <img src="../public/images/youtube.svg" alt="">
            <img src="../public/images/instagram.svg" alt="">
            <img src="../public/images/twitter.svg" alt="">
            <img src="../public/images/facebook.svg" alt="">
        </section>

    </main>

    <footer>
        <div class="footer-menu">
            <ul>
                <li><a href="../index.html" id="home">HOME</a></li>
                <li><a href="../views/aboutus.html" id="aboutus">ABOUT US</a></li>
                <li><a href="../views/faq.html" id="faqs">FAQS</a></li>
            </ul>
        </div>
    </footer>

    <script src="../public/scripts/script.js" defer></script>
</body>

</html>